* {
  box-sizing: border-box;
  font-family: "微軟正黑體";
  font-weight: bold;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(75, 11, 124);
  background: linear-gradient(
    31deg,
    rgba(75, 11, 124, 1) 0%,
    rgba(9, 9, 121, 1) 38%,
    rgba(10, 148, 147, 1) 100%
  );
  margin: 0;
}

audio {
  display: none;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#player {
  border-radius: 20px;
  background-color: #eee;
  height: 200px;
  width: 80%;
  padding: 20px 50px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

#progress_container {
  position: relative;
  height: 10px;
  width: 100%;
  background-color: #cdcdcd;
  border-radius: 10px;
}

#progress_bar {
  width: 0%;
  height: 100%;
  background-color: rgb(43, 117, 185);
  border-radius: 10px;
}

#drag_item {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #180d35;
}

.button_group {
  margin: 0 auto;
  margin-top: 20px;
  width: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button_group button {
  cursor: pointer;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  box-shadow: 2px 1px 10px rgba(15, 15, 15, 0.2);
  border: 0;
}

.button_group #play {
  width: 72px;
  height: 72px;
}

.vol_group {
  display: flex;
  align-items: flex-end;
  height: 14px;
  margin-bottom: 12px;
}

.vol_group span:not(:first-child) {
  display: inline-block;
  width: 4px;
  height: 100%;
  background-color: #000;
  margin-bottom: 5px;
  margin-right: 2px;
}

.vol_group span:nth-child(2) {
  height: 20%;
}

.vol_group span:nth-child(3) {
  height: 40%;
}
.vol_group span:nth-child(4) {
  height: 60%;
}
.vol_group span:nth-child(5) {
  height: 80%;
}

.vol_group span.inactive {
  background-color: #cdcdcd;
}
